@model OpenData.Domain.ViewModels.Medicine.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@MyHelper.ExecuteResultAlert(TempData["ExecuteResult"] as OpenData.Domain.ViewModels.Medicine.ExecuteResultModel)

<section class="section is-medium">
    <div class="columns">
        <div class="column">
        </div>
        <div class="column">
            @using (Html.BeginForm("Login", "Medicine", new { area = "" }, FormMethod.Post, new {@class="box" }))
            {
                @Html.AntiForgeryToken()

                <div class="field">
                    @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "label" })
                    <div class="control">
                        @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "input", @placeholder = "請輸入帳號" } })
                        @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "label" })
                    <div class="control">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input", @placeholder = "請輸入密碼", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-warning">登入</button>
                        <a href="@Url.Action("Register", "Medicine", new { area =""})" class="button is-dark">註冊</a>
                    </div>
                </div>

            }
        </div>
        <div class="column">
        </div>
    </div>
</section>







